* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F5EB;
    font-family: "Forum", 'Times New Roman', Times, serif;
}

nav {
    display:flex;
    align-items: center;
    margin: 0;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    max-height: 40px;
    background-color: #3A4069;
    color: #F5F5EB;
    font-weight: 200;
    font-size: 1.3rem;
    font-family: "Courier Prime", 'Courier New', Courier, monospace;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 50px 1em 1em 1em;
}

input,
textarea {
    padding: .5em;
    font-family: inherit;
}

textarea {
    height: 20vh;
}

.new-post-button {
    padding: .5em 1em;
    font-family: inherit;
    font-size: 1.15rem;
    background-color:#3A4069;
    color:#F5F5EB;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 1px #000;
    cursor:pointer;
}

.new-post-button:hover,
.new-post-button:focus {
    background-color: #8292AE;
}

.new-post-divider {
    width: 95%;
    color: #3A4069;
}

.blog-list {
    padding: 1em;
    line-height: 1.25;
}

h2 {
    font-size: 1.5rem;
}


/* MEDIA QUERIES */

@media ( min-width: 700px ) {

    .new-post-form {
        padding: 5em 5vw 3em;
        margin: 0;
        max-width: 80ch;
        font-size: 1.4rem;
        gap: 1em;
        font-weight: 700;
    }

    input,
    textarea,
    .new-post-button {
        font-size: 1.25rem;
    }

    .blog-list {
        max-width: 100ch;
        padding: 1.5em 5vw;
        line-height: 1.5;
    }

    .blog-list p {
        font-size: 1.125rem;
    }

    nav {
        height: 2em;
        max-height: 80px;
        font-size: 2rem;
        padding-left: 2vw;
    }
}